
body {

}


nav {

	display: block;
	height:50px;
	background-color: #0A4258; 
	margin:auto;
	
}


	nav ul li{
		display: inline-block;
		width: 200px;
		height: 30px;
		margin: 5px 5px 5px 5px;
		text-align:center;
		vertical-align: top;
		font-family: Oswald,sans-serif;
		background-color: #0A4258;
		color: white;
	}
	nav ul li a{ 
	vertical-align: middle;
	text-decoration: none;
	color: white; }

header {
	display: block;
	text-align: center;
	background-color: #19A0D8;
}

#titre{
	vertical-align:middle;}
		
		#titre-img img{	
		}
	
	#titre-txt {
		display: inline-block;
		text-align: center;

		font-family: Roboto Slab, serif;

		font-size:60px;
		color: white;
		vertical-align: middle;

	}


#bot1{
	display: block;
	font-family: Roboto Slab, serif;
	background-color: #EDE204;
	color: white;

}

#bot1 h2 {

	text-align: center;
	font-family: Oswald, sans-serif;
}
#bot1{}


.listebot {
	background-color: #19A0D8;
	color: white;
	display: block;

}

#otherbot{
	background-color: #EDE204;
}

	.listebot h2 {text-align: center;
		font-family: Oswald, sans-serif;
	}
	.listebot a {text-decoration: none;
		color:#0A4258;}
	
	ul{
		display: inline-block;
		
	}

		li {
		list-style:none;
		display: inline-block;
		font-family: Roboto Slab, serif;
		}



			}
			.botcontent{
				float:right
			}			
				.bottitle {
					text-decoration: none;
					font-family: Oswald, sans-serif;
				}

			

#données {
	display: block;	
}


.info {
	padding-top:10px;
	margin: auto;
	display: inline-block;
	vertical-align: top;
	font-family: Roboto Slab, serif;
	height: 400px;
	background-color: #19A0D8;
	color: white;
}
	.info h2 {text-align: center;
		font-family: Oswald, sans-serif;}
	.info li  {display:inline-block;
		margin: 5px 5px 5px 5px;
		padding-bottom: 30px;
		}
		.info li a {text-decoration: none;
			font-family: Oswald, sans-serif
			color:#0A4258;}

#footer {
	padding-top:10px;
	display:block;
	text-align: center;
	vertical-align: center;
	height: 40px;
	
	background-color: #0A4258; 
	color: white;
	margin: auto;
	clear: both;
}	
