li{
	list-style: none;
	display: inline-block;
	margin-left: 0px;
}

a{
	color: white;
}
	a:hover { 
    color: #0a4258;
    text-decoration:none;
	}


.navbar-default {
  background-color: #0a4258;
  border-color: ;
  border-radius: 0%;
  margin-bottom: 0px;
}

.navbar-default ul{
  background-color: #0a4258;
  border-color: ;
  border-radius: 0%;
}
	.navbar-toggle:hover {
		background-color: #19A0D8;
	}
	.navbar-nav .active {
		background-color: #0a4258;}

header {
	background-color: #19A0D8;
	color: white;
	display: block;
}

#unbot {
	background-color: #ede204;
	color: white;
	display: block;
}

#botfr {
	background-color: #19A0D8;
	color: white;
	display: block;
}
	
		#botfr li:hover {
			background-color: #0a4258;

		}
	#botfr a:hover {
		color: #ede204;
	}

#otherbot {
	background-color: #ede204;
	color: white;
	display: block;
}
	#otherbot li:hover {
			background-color: #19A0D8;
}

#ressources {
	background-color: #19A0D8;
	color: white;
	display: block;
}

footer {
	background-color: #0a4258;
	color: white;
	display: block;
	clear: both;
}
	footer a{
		color: #19A0D8;
	}
		footer a:hover {
			color: #ede204
		}
/*li {
		list-style:none;
		display: inline-block;
		font-family: Roboto Slab, serif;
		}

nav{margin-bottom: 0px}

.navbar-default {
  background-color: #0a4258;
  border-color: ;
  border-radius: 0%;
}

.navbar-default .navbar-text {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ede204;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ede204;
  background-color: #0a4258;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ede204;
  background-color: #19a0d8;
}
.navbar-default .navbar-toggle {
  border-color: #19a0d8;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #19a0d8;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border:none;
}
.navbar-default .navbar-link {
  color: white;
}
.navbar-default .navbar-link:hover {
  color: #ede204;
}

header {

	background-color: #19A0D8;
	color: white;
}

h1 {font-family: Oswald, sans-serif;
color: white}

header h2
	{font-family: Roboto Slab, serif}


#unbot{
	display: block;
	font-family: Roboto Slab, serif;
	background-color: #EDE204;
	color: white;
}

#unbot-h2 {

	text-align: center;
	font-family: Oswald, sans-serif;
}

#otherbot{
	background-color: ;
}

.listebot {
	background-color: #19A0D8;
	color: white;
	display: block;
}

	.listebot h2 {text-align: center;
		font-family: Oswald, sans-serif;
	}
	.listebot a {text-decoration: none;
		color:#0A4258;
	}

		li {
		list-style:none;
		display: inline-block;
		font-family: Roboto Slab, serif;
		}

			}
			.botcontent{
				float:right
			}			
				.bottitle {
					text-decoration: none;
					font-family: Oswald, sans-serif;
				}

			
#ressources {
	font-family: Roboto Slab, serif;
	background-color: #19A0D8;
	color: white;
}

	#ressources-title {font-family: Oswald, sans-serif;}
	
	#ressources-h3 {
		text-decoration: none;
		font-family: Oswald, sans-serif;
		color:#0A4258;}

#footer {

	text-align: center;
	background-color: #0A4258; 
	color: white;
	clear: both;
}	
